apiVersion: 1

datasources:
{% for cluster, cluster_dsn in config.WHPG_OBS_DSN_DICT.items() %}
  - name: {{ cluster }}_DS
    type: prometheus
    access: proxy
    url: http://prometheus-{{ '%02s' % cluster }}:9090
    isDefault: {{ 'true' if loop.index == 1 else 'false' }}
    editable: false
    uid: DS_PROMETHEUS_{{ cluster }}
{% endfor %}
