networks:
  whpg:
    name: whpg
    driver: bridge

services:
  {% for i in range(1, config.exporter_count + 1) %}
  whpg-exporter-{{ '%02d' % i }}:
    image: whpg_exporter:latest
    container_name: whpg_exporter-{{ '%02d' % i }}
    ports:
      - "{{ 9186 + i }}:9187"
    environment:
      WHPG_OBS_DSN: {{ config.whpg_obs_dsn_list[i-1] | tojson }}
      WHPG_OBS_LOG_LEVEL: "${WHPG_OBS_LOG_LEVEL}"
    restart: unless-stopped
    networks:
      - whpg
  {% endfor %}

  {% for i in range(1, config.prometheus_count + 1) %}
  prometheus-{{ '%02d' % i }}:
    container_name: prometheus-{{ '%02d' % i }}
    image: prom/prometheus:v3.5.0
    ports:
      - "{{ 9089 + i }}:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.external-url=http://prometheus-{{ '%02d' % i }}:{{ 9089 + i }}'
      - '--web.route-prefix=/'
      - '--storage.tsdb.retention.time={{ '%02s' % config.prometheus_retention_time }}'
      - '--storage.tsdb.retention.size={{ '%02s' % config.prometheus_retention_size }}'
    volumes:
      - ./prometheus/prometheus-{{ '%02d' % i }}.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-{{ '%02d' % i }}_data:/prometheus
    networks:
      - whpg
  {% endfor %}

  grafana:
    image: grafana/grafana:12.1.1
    container_name: grafana
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "${GRAFANA_ADMIN_USER:-admin}"
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_PASSWORD:-secret}"
      GF_USERS_ALLOW_SIGN_UP: false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - whpg

volumes:
  {% for i in range(1, config.prometheus_count + 1) %}
  prometheus-{{ '%02d' % i }}_data:
  {% endfor %}
  grafana-data:
