global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    replica: "prometheus-{{ '%02s' % cluster }}"
    cluster: "cluster{{ cluster }}"

scrape_configs:
  - job_name: whpg
    static_configs:
      - targets:
          - "whpg-exporter-{{ '%02s' % cluster }}:9187"
