apiVersion: 1
datasources:
  - name: WHPG Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-whpg:9090  # Matches the Prometheus container
    isDefault: true
    uid: DS_PROMETHEUS